.absolute{
    position: absolute;
    top: 40px;
    background-color: whitesmoke;
    padding: 20px;
    right: 0;
    width: 50vw;
    border-radius: 10px;
    transition: all 0.5s ease;
}

.noAbsolute {
    position: absolute;
    top: 40px;
    background-color: whitesmoke;
    padding: 20px;
    right: -300%;
    width: 50vw;
    border-radius: 10px;
    transition: all 0.5s ease;
}